html, body {
  margin: 0;
  height: 100%;
}

body {
  
  background-color: #333a5a76;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  background-color: rgb(0, 0, 0);
  height: 340px;
  padding: 90px;
  border-radius: 220px;
  box-shadow: 1px 20px 50px rgb(255, 4, 176);
  text-align: center;
  color: rgba(167, 196, 105, 0.898);
}

.buttons {
  background-color: #0080ff;
  border: 2px solid #4b90ea;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 15px 5px;
  cursor: pointer;
  border-radius: 120px;
}
.buttons:hover {
  background-color: #002fff;
  box-shadow: 4px 8px 20px rgb(255, 5, 134) ;
  scale: calc(1.05);
  transition: all 0.2s ease-in-out  ;
}

h2 {
  font-size: 80px;
  margin: 0px;
  border: #dc0000 2px solid;
  border-top-left-radius: 100px;
  border-style: dashed;
  box-shadow: inset 140px 5px 70px #ff0000 ;
}
p {
  font-family: "Gravitas One" sans-serif;
  font-size: 70px;
  font-weight: bolder;
  width: 335px;
  text-align: center;
  margin: 15px 0px 20px 0px;
  color: #07ff24;
  border: #00d5ff 10px solid;
  border-bottom-right-radius: 40px;
  box-shadow: inset -140px -5px 70px #00fff0;
}